
@media screen and (max-width: 991px) {
    .conteiner_contact_s{
        height: 100%;
    }


}

@media screen and (max-width: 767px) {
    .img-card{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px 3px 0px 0px;
    }
    .nav-desktop{
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .hamburger{
    display: none;
    }
}